.navigation {
  ul {
    margin-top: 2em;
    display: none;
    font-weight: 100;
  }
  #logo-image {
    height: 60px;
    margin: .5em;
  }
  h1.logo {
    margin: .5em;
    float: none;
    a {
      color: black;
    }
  }
}

@media all and (min-width: 775px) {
 .navigation {
   display: inline-block;
   width: 100%;
    nav {
      ul {
        display: block;
        float: right;
        list-style: none;
        text-align: center;
      }

      li {
        display: inline;
        padding: .5em;

      }
    }
    h1.logo {
      float: left;
    }
  }
}
