#caleb_image {
  position: absolute;
  width: 100%;
  height: auto;
}
.page_content {
  position: absolute;
  left: 15%;
  width: 70%;
  background:#7f7f7f;
  background:rgba(253,238,238,0.9);
  color: #7b0b5a;
  text-align: center;
}
