p {
	margin: .25em;
}

iframe {
  display:none;
}

.box-div {
  border: solid;
  margin-bottom: 1em;
  border-width: 1px;
}

#caleb_image {
  position: absolute;
  left: -46px;
  width: 115%;
  height: auto;
}
.page_content {
	padding: 1em;
  position: absolute;
  left: 15%;
  width: 65%;
  background: white;
  #background: #7f7f7f;
  #background: rgba(253,238,238,0.9);
  color: #7b0b5a;
  text-align: center;
}
.blue {
	color: #1F2558;
}


@media all and (min-width: 775px) {
  iframe {
    display: inline-block;
  }
  #caleb_image {
    left: -120px;
  }
}
