@import "page";
@import "navigation";
@import "index";

html body {
  font-family: 'Josefin Sans', sans-serif;;
  background-color: #c9df6b;
  margin: 1;
  padding: 0;
}

a {
  color: grey;
  text-decoration: none; 
}

