@import "page";
@import "navigation";
@import "index";
@import "schedule";
@import "hotel";
@import "faq";
@import "artist";

html body {
  font-family: 'Josefin Sans', sans-serif;;
  background-color: #c9df6b;
  margin: 1em;
  padding: 0;
  overflow-x: hidden;
}

p {
  line-height: 1.25em;
}

a {
  color: grey;
  text-decoration: none; 
}

@media all and (min-width: 775px) {
  html body {
    margin-left: 2em;
    margin-right: 2em;
  }

.left_align {
  text-align: left;
}
}

