---
title: "F.A.Q | Ali & Tasha's Wedding"
description: "Up to date information about our wedding on Sept. 1st 2018"
image: "https://www.aliandtasha.com/images/meta_images/meta_logo.png"
url: "https://www.aliandtasha.com/faq"

---

%img#caleb_image(src="../images/caleb-illustration-bigger.gif")
.page_content
  %h1 F.A.Q
  .box-div
    %h2 The Wedding
    .left-align
      %h3 Should I wear two outfits?
      %p.blue That's totally up to you! The most important thing is that you're comfortable and feel like a million bucks. That being said, it might be nice to have a fresh shirt if the weather is hot.  
      %h3 Where do I park? 
      %p.blue
      %a{href: "/parking" } Click here to see our parking page
      %h3 Will there be food? 
      %p.blue Yes! We’ll have tons of food at the picnic and both savory and sweet food at the cake reception.
      %h3 How do we get from the picnic to the cake reception? 
      %p.blue We will be providing busses to take people back to the Hyatt Place Hotel. Once you get there, there will be a 2 hour break. The cake reception is walking distance from the Hyatt Place Hotel.
      %h3 Where can we stay? 
      %a{href: "/hotels" } Click here to see our page about Hotels!
      %h3 What happens if it rains? 
      %p.blue We’ll have a tent so as long as the weather is passable, everything will continue as planned.
  .box-div
    %h2 What can we do in Baltimore?
    .left-align
      %h3 Restaurants we love! 
      %ul.faq_list
        %li 
          %a{href: "https://www.liquidearth.com/"} Liquid Earth (Vegan/Vegetarian)  
        %li
          %a{href: "http://www.lobofellspoint.com/"} Lobo
        %li
          %a{href: "https://www.yelp.com/biz/cocina-luchadoras-baltimore"} Cocina Luchadoras
        %li
          %a{href: "http://www.tortilleria-sinaloa.com/"} Tortilleria Sinaloa 
        %li
          %a{href: "https://www.yelp.com/biz/tabor-ethiopian-restaurant-baltimore"} Tabor Ethiopian Food
        %li
          %a{href: "http://www.pennyblackbaltimore.com/"} Penny Black
        %li
          %a{href: "https://www.yelp.com/biz/sal-and-sons-baltimore"} Sal’s Seafood
        %li
          %a{href: "https://bmorelicks.com/"} B’more Licks Ice Cream
      %h3 Free museums 
      %ul.faq_list
        %li
          %a{href: "https://artbma.org/"} The Baltimore Museum of Art 
        %li
          %a{href: "https://thewalters.org/"} The Walters Art Museum 
        %li
          %a{href: "https://peabodyevents.library.jhu.edu/"} The Peabody Library
      %h3 Not free but amazing museums
      %ul
        %li
          %a{href: "http://www.avam.org/"} The American Visionary Arts Museum
        %li
          %a{href: "http://www.thebmi.org/"} The Baltimore Museum of Industry 
        %li
          %a{href: "http://www.borail.org/"} The B&O Railroad Museum
        %li
          %a{href: "http://www.greatblacksinwax.org/index.html"} National Great Blacks In Wax Museum
        %li
          %a{href: "http://www.lewismuseum.org/"} Reginald F. Lewis Museum
      %h3 Attractions that are fun!
      %ul
        %li
          %a{href: "https://www.tripadvisor.com/Attraction_Review-g60811-d144278-Reviews-Edgar_Allan_Poe_s_Grave_Site_and_Memorial-Baltimore_Maryland.html"} Edgar Allan Poe's Grave Site and Memorial 
        %li
          %a{href: "https://www.yelp.com/biz/patterson-bowling-center-baltimore"} Patterson Park Bowling Center (Reservations Required)
        %li
          %a{href: "https://www.tripadvisor.com/Attraction_Review-g60811-d3318141-Reviews-Loring_Cornish_Gallery-Baltimore_Maryland.html"} Loring Cornish Gallery 
        %li
          %a{href: "http://www.cdjoint.com/"} Sound Garden
        %li
          %a{href: "https://greedyreads.com/"} Greedy Reads
