---
title: F.A.Q
---

%img#caleb_image(src="../images/caleb-illustration-bigger.gif")
  .page_content
    %h1 F.A.Q
    .box-div
      %h2 The Wedding
      .left-align
        %h3 Should I wear two outfits?
        %p.blue That's totally up to you! The most important thing is that you're comfortable and feel like a million bucks. That being said, it might be nice to have a freash shirt if the weather is hot.  
    .box-div
      %h2 Baltimore
      .left-align
        %h3 Are there any great restaurants you recommend?      
        %p.blue So many! Here's a short list: 
        %ul
          %li Red Emmas (Vegan Radical Bookstore)
        %h3 Next Quesiton
        %p.blue More answers
