---
title: "Friday Night | Ali & Tasha's Wedding"
description: "In town Friday night? Help us get the wedding started at R. House Baltimore!"
image: "https://www.aliandtasha.com/images/meta_images/meta_r_house.jpg"
url: "https://www.aliandtasha.com/friday_night"

---
%img#caleb_image(src="../images/caleb-illustration-bigger.gif")
.page_content
  %h1 Friday Night

  %p
    Everyone is invited to help us get the wedding started right at
    = link_to "R. House Baltimore!", "https://r.housebaltimore.com/"

  %h2.blue R. House

  %p
    R. House is a food hall in the Remington neighborhood of Baltimore. They feature vendors serving food from Venezuela to Korea and everywhere in between.

  %h2.blue Time

  %p
    We've reserved the den starting at 7:00 PM. The den is the area with couches in the corner furthest away from all the food.

  %h2.blue This event is OPTIONAL

  %p
    If you're around and wanna be social, feel free to swing by. If you're running late or won't be in town until Saturday, don't worry about it. Friday night is a totally-optional-stress-free event.


  %h2.blue Address

  %p
    R. House is located at
    = link_to "301 W 29th St, Baltimore, MD 21211.", "https://www.google.com/maps/place/R.+House/@39.3217405,-76.6244932,17z/data=!3m1!4b1!4m5!3m4!1s0x89c804dcf460826b:0xc0749e58edc4bdf!8m2!3d39.3217364!4d-76.6223045"
    It's about 3.5 miles from
    = link_to "our wedding hotels.", "/hotel"

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3086.522740701738!2d-76.62449318468195!3d39.321740529424275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c804dcf460826b%3A0xc0749e58edc4bdf!2sR.+House!5e0!3m2!1sen!2sus!4v1532479324859" width="640" height="480"></iframe>

  %h2.blue Parking

  %p
    = link_to "Click here", "https://r.housebaltimore.com/wp-content/themes/rhouseofficial/r-house-parking-map.pdf"
    to see a map of all the parking options. P2 is small and fills up pretty quickly. P1 is the police lot catty-corner from R. House. There is also street parking.

  %br

  %p
    You can also skip the parking stress and take a Lyft, Uber, or taxi.
