---
title: "Hotels | Ali & Tasha's Wedding"
description: "Find a place to stay!"
image: "http://aliandtasha.com/images/meta_images/meta_hotels.jpg"
url: "http://aliandtasha.com/hotel"
---

%img#caleb_image(src="../images/caleb-illustration-bigger.gif")
  .page_content
    %h1 Hotels 
    %p We have reserved a block of rooms for out of town guests at two hotels for Autust 31st - September 2nd 2018. Please feel free to book at either anytime before August 8, 2018.  
    .box-div
      %h2.blue Courtyard Baltimore Downtown/Inner Harbor 
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24705.685932883334!2d-76.600098!3d39.283471!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x75e9346627928d2!2sCourtyard+by+Marriott+Baltimore+Downtown%2FInner+Harbor!5e0!3m2!1sen!2sus!4v1526168990331" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      %p Our special room rate is $159.00 USD - $169.00 USD per night. 
      %p Call (443) 923-4000 and give them the code "IJRS" or 
      %a{href: "https://goo.gl/eu6NMq", title: "Reserve Online", class: "strong_link"} 
        Reserve Online Here
    .box-div
      %h2.blue Hyatt Place Baltimore/Inner Harbor 
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12352.634875596468!2d-76.5987169!3d39.2846509!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x34b932cdac03655b!2sHyatt+Place+Baltimore%2FInner+Harbor!5e0!3m2!1sen!2sus!4v1526093013568" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>	
      %p Our special room rate is $179.00 USD per night. 
      %p Call (443) 552-7259 and tell them you're with the Ibrahim-Jones Wedding or 
      %a{href: "https://goo.gl/eu6NMq", title: "Reserve Online", class: "strong_link"} 
        Reserve Online Here
    %h1 Airbnb
    %p If you prefer to stay in an Airbnb or at another hotel, we recommend one of the following neighborhoods so that you're close to the event:
    %ul#hotel
      %li Fells point
      %li Harbor East
      %li Patterson Park
      %li Upper Fells Point
