---
title: "Ali & Tasha's Wedding"
description: "Up to date information about our wedding on Sept. 1st 2018"
image: "https://www.aliandtasha.com/images/meta_images/meta_logo.png"
url: "https://www.aliandtasha.com/"
---

#grid-wrapper
  %a{id: "box1", class: "box", href: "https://party-llama.herokuapp.com" }
    .hummingbird
      =tag :embed, src: "images/hummingbird.svg"
    .text R.S.V.P
    .crane
      =tag :embed, src: "images/crane.svg"
  %a{id: "box2", class: "box", href: "/hotel" } Hotel

  %a{id: "box7", class: "box", href: "/schedule" } Schedule

  %a{id: "box3", class: "box", href: "/parking" } Parking

  %a{id: "box4", class: "box", href: "/faq" } F.A.Q.

  %a{id: "box6", class: "box", href: "/artists" } Artists

  %a{id: "box5", class: "box", href: "https://www.zola.com/registry/natashaandali" } Registry
%img#front_caleb_image(src="../images/caleb-illustration-bigger.gif")

