---
title: Ali + Tasha
---

#grid-wrapper
  %a{id: "box1", class: "box", href: "#" } R.S.V.P

  %a{id: "box2", class: "box", href: "/hotel.html" } Hotel

  %a{id: "box3", class: "box", href: "/schedule.html" } Schedule

  %a{id: "box4", class: "box", href: "/attire.html" } Attire

  %a{id: "box5", class: "box", href: "#" } Registry

  %a{id: "box6", class: "box", href: "/photos.html" } Photos

  %a{id: "box7", class: "box", href: "/parking.html" } Parking
