---
title: Hotels for Ali + Tasha
---

%img#caleb_image(src="../images/caleb-illustration-bigger.gif")
  .page_content
    %h1 Parking
    %h4 There is no parking at the ceremony location. 
    %p We will have busses to transport guests at the Hyatt Place Hotel, 511 S Central Ave, Baltimore, MD 21202. The busses will be leaving every 15 minutes between 1pm and 2pm.
    %h4 There are 3 parking garages within walking distance of the bus. 
    .box-div
      %h2.blue Fleet & Eden Garage 
      %p This garage is the closest to the bus pick up and drop off location. The weekend rate is $3 per day. The 24 hour rate is $14.
      %a(href="http://baltimoreparking.com/parking-locations/fleet-eden-garage-parking/") Rates and Information
    .box-div
      %h2.blue Caroline Street Garage
      %p This garage is the closest to the Cake Reception venue for Saturday night. The weekend rate is $5 but it's ideal if you want to avoid walking far to your car when the celebration is over. The 24 hour rate is $15.
      %a(href="http://baltimoreparking.com/parking-locations/caroline-street-garage-parking/") Rates and Information
    .box-div
      %h2.blue Little Italy Garage
      %p The weekend rate for this garage is $4 per day. This is a great option if the Caroline Street Garage or Fleet & Eden Garage are full. The rate for 24 hours is $15.
      %a(href="http://baltimoreparking.com/parking-locations/baltimore-little-italy-garage-parking/") Rates and Information
    <iframe src="https://www.google.com/maps/d/embed?mid=1plz383RVUAkX_nVosZHEtfYz-Lzn-qaV&hl=en" width="640" height="480"></iframe>
