---
title: Hotels for Ali + Tasha
---

%img#caleb_image(src="../images/caleb-illustration-bigger.gif")
  .page_content
    %h1 Schedule 
    #schedule-div
      %dl
        .time-box
          %dt.time 1:00pm 
          %dd Busses depart from the Hyatt Place Hotel at 511 S Central Ave for Patterson Park.
          %div#bus-note
            Please note - there is no parking at the park.
        .time-box
          %dt.time 2:00pm
          %dd Ceremony in Patterson Park
        .time-box
          %dt.time 3:00pm
          %dd Picnic at Patterson Park
        .time-box
          %dt.time 5:30pm
          %dd Busses arrive to take guests back to the Hyatt Place Hotel.
        .time-box#siesta
          Break to Rest
        .time-box
          %dt.time 8:00pm
          %dd Cake Reception at the Frederick Douglass-Isaac Myers Maritime Park

